[submodule "common"]
	path = common
	url = ./common/
[submodule "bean"]
	path = bean
	url = ./bean/
[submodule "model"]
	path = model
	url = ./model/
[submodule "viewmodel"]
	path = viewmodel
	url = ./viewmodel/
